<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Ordenador de CSVs</title>
  {% load static %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'Trabalho03/style.css' %}">
</head>

<body class="background background-home">

    <div class="row">
        <h3 class="col-12 text-center" style="color:white">Escolha sua base de Registros em formato ".csv"</h3>
        <div class="col-4"></div>
        <div class="col-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" required class="custom-file-input" id="inputGroupFile02" name="myfile" accept=".csv">
                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="input-group-text" type="submit">Upload</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4"></div>

        <div class="col-12 text-center" style="margin-top: 70px">
            <h3 id="chartTitle" style="color:white">Big-O Complexity Chart</h3>
            <svg id="chart" width="800" height="500" xmlns="http://www.w3.org/2000/svg">
                <!-- horrible region -->
                <path d="M50 450 L 50 0 L 800 0 L 800 450 Z" fill="#ff8989"/>
                <!-- bad region -->
                <path d="M50 450 L 800 0 L 800 450 Z" fill="#FFC543"/>
                <!-- fair region -->
                <path d="M50 450 L 800 450 L 800 330 Z" fill="yellow"/>
                <!-- good region -->
                <path d="M50 450 L 800 450 L 800 410 Z" fill="#C8EA00"/>
                <!-- excellent region -->
                <path d="M50 450 L 800 450 L 800 440 Z" fill="#53d000"/>

                <!-- axes -->
                <path d="M50 0 L 50 450 L 800 450" fill="transparent" stroke="black" stroke-width="2"/>

                <path d="M50 448 L 800 448" fill="transparent" stroke="black" stroke-width="2"/>
                <text x="700" y="438" fill="black">O(log n), O(1)</text>

                <path d="M50 450 L 800 400" fill="transparent" stroke="black" stroke-width="2"/>
                <text x="760" y="390" fill="black">O(n)</text>

                <path d="M50 450 Q 400 350, 800 150" fill="transparent" stroke="black" stroke-width="2"/>
                <text x="630" y="190" fill="black">O(n log n)</text>

                <path d="M50 450 Q 180 380, 250 0" fill="transparent" stroke="black" stroke-width="2"/>
                <text x="260" y="30" fill="black">O(n^2)</text>

                <path d="M50 450 C 100 430, 120 350, 120 0" fill="transparent" stroke="black" stroke-width="2"/>
                <text x="125" y="20" fill="black">O(2^n)</text>

                <path d="M50 450 C 80 450, 80 350, 80 0" fill="transparent" stroke="black" stroke-width="2"/>
                <text x="80" y="20" fill="black">O(n!)</text>

                <text x="0" y="0" transform="translate(30 230) rotate(-90)" style="dominant-baseline: middle; text-anchor: middle; font-size:20px; color: #555; font-size:20px; color: #555; font-style: italic;" fill="black">Operations</text>
                <text x="0" y="0" transform="translate(420 470)" style="dominant-baseline: middle; text-anchor: middle; font-size:20px; color: #555; font-style: italic;" fill="black">Elements</text>
            </svg>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
